@charset "UTF8";

/* Typical Device Breackpoints
------------------------------
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media print { /* VERSÃO PARA IMPRESSORAS */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    header > h1 {
        color: black;
        text-shadow: none;
    }

    header > nav {
        display: none;
    }

    main {
        box-shadow: none;
        border: 1px solid black;
        border-radius: 15px;
    }

    main > article h2, main > article p{
        color: black;
    }

    footer {
        border-top: 1px solid black;
    }

    footer > p, footer > p > a {
        color: black;
        text-decoration: none;
        text-shadow: none;
    }
}

@media screen and (min-width: 768px) { /* DESKTOP */
    #menuicon {
        display: none;
    }
    
    header > nav > ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: #073b4c90;
    }

    header > nav > ul > li {
        border: none;
        width: 100%;
    }

    header > nav > ul > li > a {
        padding: 15px;
        background-color: transparent;
        transition: 0.3s;
    }

    header > nav > ul > li > a:hover {
        background-image: #34a0a4cb;
    }

    main {
        margin-top: 100px;
        max-width: 700px;
    }
}
